<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pretender.myApp.mapper.mediaInfoMapper">
	<select id="selectAverageStars" resultType="Float">
		select avg(stars) from reviews
		where media_id = #{mediaId} and media_type = #{mediaType}
	</select>

	<select id="selectCastLikeCategory" resultType="com.pretender.myApp.model.CastLikeCategoryDTO">
		select * from cast_like_category
	</select>
</mapper>
