<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_PATTERN"
            value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n%ex{short}"/>
  <property name="LOG_PATTERN_WITH_EXCEPTION_TRACE"
            value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n%ex{full}"/>


  <springProfile name="dev">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
    </appender>
    
	<root>
		<appender-ref ref="STDOUT"/>
	</root>
  </springProfile>

  <springProfile name="devDebug">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
    </appender>
    
	<root>
		<appender-ref ref="STDOUT"/>
	</root>
  </springProfile>
  
  <springProfile name="prod">
    <appender name="INFO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>./logs/info/info.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./logs/info/info.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>7</maxHistory>
        <totalSizeCap>3GB</totalSizeCap>
      </rollingPolicy>
      <!-- ✅ INFO 이상(= INFO/WARN/ERROR) 다 기록 -->
      <encoder>
        <pattern>${LOG_PATTERN}</pattern>
      </encoder>
    </appender>

    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>./logs/error/error.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./logs/error/error.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>7</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
      </rollingPolicy>
      <!-- ✅ ERROR만 분리 -->
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
      <encoder>
        <pattern>${LOG_PATTERN_WITH_EXCEPTION_TRACE}</pattern>
      </encoder>
    </appender>

    <root>
      <appender-ref ref="INFO-FILE"/>
      <appender-ref ref="ERROR-FILE"/>
    </root>
  </springProfile>
</configuration>